*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  padding: 20px;
  background-image:url(IMG-20240220-WA0034.jpg);
  background-size: 100vw 100vh;
}
.nav a:hover {
  background-color: red;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 15px;
  color:black;
}

img{
  width:140px;
  height: 140px;
  border-radius: 50%;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1rem;
}
.header p{
  text-align: center;
  line-height: 2;
  font-weight: 600;
  

}
.forms{
  display: flex;
  gap:2rem;
  padding: 30px;
}
.cards{
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 235, 235);
  width:50%;
  align-items: center;
  justify-content: center;
  gap:1rem;
  padding:10px;
  border-radius: 5px;
  border-bottom: 10px solid red;
}
.header h1, .header p {
  color:red;
}
.head{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.head i{
  font-size: 28px;
  color:red
}
hr{
  border-color: black;
  width:90%;
}
.section p {
  text-align: center;
  line-height: 1.5;
  font-weight: 600;
}
.section li{
  font-weight: 600;
  line-height: 1.5;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem
  }  
  .buttons a{
  padding: 10px 20px;
  border-radius: 20px;
  color:red;
  background: none;
  box-shadow:  0 0 10px red;
  
  }
  .buttons a:hover{
    background-color: red;
    color:black;
    box-shadow:  0 0 9px black;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  
  
  
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: red;
    color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
    overflow: hidden;
    
    
  }
  .social a{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            padding:10px;
            border-radius: 50%;
            margin-right: 20px;
  }
  .social a i{
            font-size: 20px;
            color:black;
  }
