body {
  background-image:url(IMG-20240220-WA0034.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}
.description {
  height: 50vh; /* Height to be equal to viewport length*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.donation-form {
  padding: 50px 0; /*padding to push the form down */
}
form {
  margin-top: 20px;
}
.donation-form {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}
label {
  font-weight: bold;
}

input[type="number"],
input[type="text"],
input[type="email"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color:red;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #a06945;
}